In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [7]:
X_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [8]:
!pip install lightgbm

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/6a/31/13f80e5abac627c53375c1dc49404d622d929272a231c05b2f4f7bb98b9e/lightgbm-3.3.5-py3-none-win_amd64.whl (1.0MB)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\axisi\anaconda3\lib\site-packages (from lightgbm) (0.21.3)
Requirement already satisfied: numpy in c:\users\axisi\anaconda3\lib\site-packages (from lightgbm) (1.16.5)
Requirement already satisfied: scipy in c:\users\axisi\anaconda3\lib\site-packages (from lightgbm) (1.3.1)
Requirement already satisfied: wheel in c:\users\axisi\anaconda3\lib\site-packages (from lightgbm) (0.33.6)
Requirement already satisfied: joblib>=0.11 in c:\users\axisi\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (0.13.2)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.5

In [9]:
import lightgbm as lgb

In [10]:
from lightgbm import LGBMRegressor

In [11]:
rgr=LGBMRegressor()
rgr
from sklearn.svm import SVR
rgr= SVR(C=1.0, epsilon=0.2)
rgr.fit(X_train,Y_train)

C:\Users\axisi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\axisi\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.2,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [12]:
y_pred=rgr.predict(X_test)

In [13]:
y_pred

array([9581.61760687, 9570.96721563, 9575.71672976, 9582.57545454,
       9574.83632233, 9574.64346563, 9569.79526586, 9580.68128237,
       9569.08058999, 9571.02785386, 9575.02488465, 9581.60227577,
       9570.01948313, 9572.83692906, 9571.84214575, 9579.06196644,
       9581.93490536, 9571.63969713, 9567.33480331, 9570.35197114,
       9581.92578871, 9584.25617229, 9580.8654397 , 9573.20225697,
       9569.55259094, 9574.03416686, 9574.83884846, 9567.43414848,
       9568.60936037, 9571.92855036, 9571.46401833, 9577.44117239,
       9583.6742416 , 9580.14599364, 9572.81863134, 9566.65176673,
       9573.44041194, 9575.23958235, 9567.02780962, 9567.09495373,
       9574.25748836, 9568.64044158, 9572.0189405 , 9579.78722567,
       9570.60322593, 9570.81740895, 9579.39363568, 9570.95969586,
       9573.33633175, 9580.80697859, 9569.64080759, 9573.72275512,
       9575.49845866, 9579.99518181, 9577.70120875, 9575.00269885,
       9572.87941629, 9578.38703467, 9574.63444032, 9581.09970869,
       9569.69337379, 9579.14867135, 9581.35420103, 9579.90216031,
       9575.06139528, 9579.02532199, 9571.27858805, 9574.7409418 ,
       9570.68938528, 9572.34726909, 9583.15411923, 9587.43754284,
       9571.2890293 , 9583.06888586, 9581.47204561, 9584.5175472 ,
       9573.25569919, 9571.50095032, 9571.57319832, 9582.91839339,
       9589.62269657, 9575.0608905 , 9570.83405028, 9572.22954066,
       9569.63825345, 9572.92347975, 9574.65885303, 9569.89753616,
       9585.54202236, 9577.20857617, 9573.28443479, 9588.8276165 ,
       9574.07466332, 9570.71859112, 9574.83855483, 9568.83217979,
       9587.18293545, 9573.28252375, 9571.10747999, 9579.29289033,
       9571.32877515, 9571.87217292, 9572.35882833, 9574.31465584,
       9573.56095156, 9572.92872465, 9578.79002139, 9573.88830916,
       9584.79382225, 9583.90808821, 9578.18575931, 9573.88293167,
       9572.90655279, 9571.61260415, 9577.41651552, 9571.30671436,
       9567.48083909, 9578.43384304, 9583.17213352, 9573.61452514,
       9571.98734474, 9575.1035451 , 9580.03617898, 9573.7550437 ,
       9570.43865619, 9574.36356069, 9575.43843032, 9572.28257495,
       9579.02371842, 9570.21189548, 9571.23891924, 9569.32625876,
       9567.01826708, 9577.13391898, 9571.00889509, 9571.28911666,
       9572.99964378, 9578.78740021, 9580.94098547, 9569.22351195,
       9566.98128008, 9586.76742227, 9574.83338053, 9586.21839071,
       9570.87206503, 9580.63075853, 9583.82148853, 9571.83707959,
       9566.51819052, 9584.04677307, 9568.78508386, 9574.68789609,
       9580.00634883, 9570.70590335, 9570.14747886, 9567.34596   ,
       9571.37879014, 9571.48132143, 9579.10137532, 9573.28794523,
       9574.05755077, 9580.89020642, 9583.91651682, 9578.2015956 ,
       9573.8404709 , 9574.71016888, 9569.56143753, 9570.69791793,
       9566.60397288, 9569.57596354, 9573.14891194, 9570.3376131 ,
       9569.82418234, 9571.79702424, 9574.02152983, 9574.91480322,
       9572.42307758, 9572.9910139 , 9579.77999948, 9569.56737695,
       9583.0800351 , 9569.51173024, 9586.09111766, 9572.37524829,
       9573.61436974, 9582.46157721, 9570.84963731, 9568.09432624,
       9581.00802083, 9577.53415764, 9575.92188299, 9570.88924578,
       9569.36118152, 9575.77970221, 9572.2405936 , 9569.08356875,
       9566.24139207, 9573.10683968, 9573.84854365, 9566.20578593,
       9587.85019539, 9580.09373536, 9585.97130619, 9572.61487101,
       9571.69350227, 9574.43256631, 9570.72459686, 9579.22526687,
       9572.3288112 , 9574.60441038, 9572.56885124, 9585.70024835,
       9571.37754626, 9570.16902365, 9569.2974354 , 9570.23235919,
       9568.62240334, 9573.90874968, 9579.87468107, 9574.26846787,
       9574.22925502, 9570.45549071, 9572.22612236, 9570.39359405,
       9586.06450552, 9580.94534807, 9580.5983728 , 9583.77291331,
       9572.32552036, 9570.07409654, 9570.20399052, 9572.8913247 ,
       9584.59850753, 9573.45701662, 9572.50331804, 9564.89424652,
       9575.49904367, 9572.80139909, 9568.54098583, 9582.44140211,
       9570.45264819, 9574.02604065, 9570.07651588, 9570.91310435,
       9572.37715241, 9585.61917886, 9570.23623404, 9567.44447543,
       9569.18016177, 9570.91895935, 9569.15427978, 9581.40494336,
       9572.66094165, 9574.60921342, 9570.9327336 , 9566.49573859,
       9569.28003405, 9568.98879208, 9572.79706705, 9570.82396887,
       9573.6261343 , 9579.38752789, 9584.47955577, 9581.5747934 ,
       9569.81557003, 9579.68272365, 9573.67812812, 9572.9829149 ,
       9574.2851108 , 9568.36586575, 9573.60355259, 9574.32983926,
       9587.26734961, 9570.9246038 , 9574.17379012, 9572.61860382,
       9584.50613982, 9574.63698779, 9568.05897532, 9584.14316343,
       9587.13823136, 9575.12928827, 9585.37343367, 9569.64441942,
       9574.32876661, 9574.62817628, 9573.67087929, 9572.07589909,
       9574.84135626, 9568.15858764, 9570.133363  , 9583.15653857,
       9578.79274757, 9570.75939013, 9584.96232369, 9588.5236858 ,
       9573.05859559, 9569.52433673, 9567.67582713, 9573.74970071,
       9568.01398484, 9570.27953646, 9575.16719435, 9570.93525507,
       9583.10327901, 9570.1230981 , 9571.27461725, 9572.91247711,
       9580.0552902 , 9570.1804318 , 9572.64184406, 9573.87360875,
       9569.89126844, 9567.31084658, 9573.24231691, 9574.66975775,
       9574.6827904 , 9570.25899372, 9571.52739387, 9572.96579497,
       9570.7740864 , 9571.28315986, 9566.93739692, 9574.0339736 ,
       9575.285259  , 9579.20702004, 9579.91764757, 9573.63646475,
       9574.38504516, 9572.11988978, 9583.10980605, 9571.85621634,
       9578.60140329, 9574.0776367 , 9582.33852827, 9565.33078841,
       9579.27440619, 9565.35434849, 9568.28830329, 9571.19889146,
       9580.32808624, 9573.26991028, 9570.01319256, 9574.8621117 ,
       9571.98054526, 9569.71752634, 9578.51799791, 9568.12210725,
       9572.7791754 , 9572.25997489, 9576.68869193, 9573.30210697,
       9573.7157758 , 9572.24988867, 9580.66424938, 9573.80053647,
       9569.73872143, 9573.34484799, 9568.37685702, 9574.71795497,
       9570.0634449 , 9570.32387911, 9569.87472278, 9573.0542237 ,
       9583.09406621, 9580.27210452, 9565.71433135, 9582.866084  ,
       9568.57184529, 9570.90047487, 9569.92816894, 9574.25162232,
       9568.86424907, 9570.66633569, 9574.69951891, 9569.02156694,
       9575.56159316, 9588.5100472 , 9578.98194645, 9579.70482358,
       9574.54514615, 9572.87086222, 9567.70131425, 9579.17160192,
       9568.71656398, 9568.42561495, 9582.08986362, 9568.8137827 ,
       9572.26220014, 9570.66710842, 9569.25915993, 9574.19508926,
       9568.94847534, 9578.3266113 , 9569.75989989, 9574.79973728,
       9579.50327155, 9573.75946048, 9574.4875724 , 9579.40693404,
       9580.49688362, 9582.45723839])

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [15]:
r_score

-0.08947360164580087

In [16]:
import pickle
filename="finalized_model_lgboost.sav"

In [17]:
pickle.dump(rgr, open(filename,"wb"))

In [18]:
loaded_model=pickle.load(open("finalized_model_lgboost.sav","rb"))
result=loaded_model.predict([[543,867,896,281,594]])

In [19]:
result

array([9575.02149231])